.notFoundContainer {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.notFoundTitle {
   font-size: 50px;
   font-weight: 900;
}

.notFoundSubtitle {}

.notFoundDescription {
   font-size: 18px;
   font-weight: 500;
   line-height: 1.687;
}

.btn {
   height: 63px;
   width:  243px;
}