

.section {
   padding: 50px 0;
}

.pagination {
   justify-content: flex-end !important;

   @media screen and (max-width:768px){
      justify-content: center !important;
      margin-bottom: 15px;
   }
}

.row {
   display: flex;
   // align-items: center;
   gap: 10px;
   flex-wrap: wrap;
}

.loading {
   opacity: 0.5;
}