@import '../../common/styles/styles.module.scss';

.container {
   border-radius: 10px;
      background-color: rgba(29, 58, 160, 0.9) ;
      overflow: hidden;
      position: relative;
      padding: 76px 0 106px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      @media screen and (max-width:575px){
         padding: 26px 42px;
      }
      

      &:after{
         content:'';
         background: url('/images/homepage/subscribeNews-bg.jpeg') center center/cover;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         opacity: 0.3;
         display: block;
      }
}

.logo {
      font-size: 25px;
      font-weight: 800;
      line-height: 1;
      letter-spacing: 0;
      z-index: 2;
      margin-bottom: 53px;
      
      & svg {
         margin-right: 7px;
      }
}

.title {
   @include adaptiv-font(50,25,1);
      font-weight: 900;
      line-height: 1;
      letter-spacing: 0;
      z-index: 2;
      margin-bottom: 26px;
      text-align: center;
}

.subtitle {
      // font-size: 22px;
      @include adaptiv-font(22, 15, 1);
      font-weight: 500;
      line-height: 1;
      letter-spacing: 0;
      max-width: 710px;
      text-align: center;
      z-index: 2;
      margin-bottom: 34px;
}

.form {
   z-index: 2;
}

.formTopContainer {
   display: flex;
   gap: 8px;
   margin-bottom: 22px;
   @media screen and (max-width:575px){
      flex-direction: column;
   }
}

.subscribeInput {
   border-radius: 10px;
   padding: 22px 27px;
      background: rgb(255, 255, 255);
      @include adaptiv-font(17, 15, 1);
         // font-size: 17px;
         font-weight: 400;
         line-height: 1;
         letter-spacing: 0;
         width: 425px;

         @media screen and (max-width:767px){
            width: 300px;
         }

         @media screen and (max-width:575px){
            width: 100%;
         }

         &:focus {
            outline: none;
         }
}

.subscribeBtn {
   @extend %yellowButton;
   width: 182px;
   padding: 20px 38px;

   @media screen and (max-width:575px){
      width: 100%;
   }

}

.checkboxLabel {
   // font-size: 17px;
   @include adaptiv-font(17, 14, 1);
   font-weight: 400;
   line-height: 1;
   text-align: center;
   display: flex;
   align-items: center;

   & a { 
      color:rgb(242, 246, 15);
      text-decoration: underline;
   }
}

.checkbox {
background: rgb(242, 246, 15);
appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   width: 17px;
   height: 17px;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   border-radius: 2px;
   margin-right: 10px;
   flex-shrink: 0;

   &:checked::before {
         content: "\2713";
         font-size: 15px;
         color: #000;
         line-height: 17px;
         text-align: right;
      }

&:focus {
   overflow: hidden;
}
}