@import '../../common/styles/styles.module.scss';

.section {
   padding: 70px 0 0 0;
}

.popularFilmsFilterContainer {

   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 40px;

   @media screen and (max-width:1430px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
   }
      @media screen and (max-width:1430px) {
         margin-bottom: 15px;
      }
}

.title {
   @extend %title;
   
   

   @media screen and (max-width:767px){
      white-space: wrap;
      line-height: 1;
      margin-bottom: 15px;
   }

   &.line {
      position: relative;

      @media (min-width:1430px) {
         &:before {
            content: '';
            width: 50px;
            height: 1px;
            background-color: rgba(255, 255, 255);
            position: absolute;
            top: 50%;
            left: calc(100% + 10px);
         }
      }



   }
}



.filmsContainer {
     @extend %filmsContainer;
}

.loading {
   opacity: 0.5;
}