@import '../../common/styles/styles.module.scss';


.titleContainer {
   display: flex;
   justify-content: space-between;
   align-items: center;

   @media screen and (max-width:768px){
      flex-wrap: wrap;
   }
}

.title {
@extend %title;
}

.filmsContainer {
   @extend %filmsContainer;
   &.fetching{
      opacity: 0.5;
   }
}

.pagination {
   @media screen and (max-width:768px){
      margin: 0px auto;
      flex: 1 0 100%;
      margin-bottom: 15px;
   }
}

