@import '../../common/styles/styles.module.scss';

.titleContainer {

   @media screen and (min-width:991px){
      display: flex;
         justify-content: space-between;
         align-items: center;
   }
}

.title {
   @extend %title;
   @media screen and (max-width:991px){
      white-space: wrap;
      line-height: 1;
      margin-bottom: 15px;
   }
}

.releasesContainer {
      display: flex;
         margin-bottom: 20px;
         flex-wrap: wrap;
         gap: 22px;
      
         @media screen and (max-width:1430px) {
            gap: 13px;
         }

         @media screen and (max-width:991px){
            margin-top: 15px;
         }
      
         @media screen and (max-width:768px) {
            gap: 12px;
         }
}