@import '../../common/styles/styles.module.scss';

.title {
   @extend %title;
}

.imagesContainer {
   width: 100%;
   display:grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: auto;
   gap: 15px;
   align-items: center;

   img {
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
   }
}

.three {
   grid-column: span 2;
}