@import '../styles/styles.module.scss';

.addInfo {
   @include adaptiv-font(18, 12, 1);

   @include adaptiv-value(width, 62, 38, 1);
   @include adaptiv-value(height, 33, 21, 1);
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   top: 12.5px;

   border-radius: 5px;

   color: rgb(255, 255, 255);
   font-weight: 700;
   line-height: 22px;
   letter-spacing: 0;

   &._8 {
      background: rgb(75, 203, 54);
   }

   &._6 {
      background: rgb(137, 203, 54);
   }

   &._5 {
      background: rgb(203, 108, 54);
   }

   &._4 {
      background: rgb(203, 63, 54);
   }
}