@import '../styles/styles.module.scss';

.likeContainer{}

.like {
   display: flex;
   padding-top: 12px;
   @include adaptiv-value(padding-top, 12, 8, 1);
   justify-content: center;
   border-radius: 10px;
   background: rgb(27, 33, 51);

   @include adaptiv-value(width,59,30.5,1);
   @include adaptiv-value(height,59,30.5,1);
   & svg {
      @include adaptiv-value(width, 26, 13.5, 1);
         @include adaptiv-value(height, 26, 13.5, 1);
   }
}

.likesCount {
   @include adaptiv-font(15,9,1);
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0;
      text-align: center;
      margin-top: 5px;
}